<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" >
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Intra in cont</mat-card-title>
    </mat-card-header>
    <br />
    <form id="loginForm"  novalidate>
      <mat-card-content>
        <mat-form-field class="example-full-width row">
          <input matInput placeholder="Nume utilizator " type="email" id="email" name="email" required email>
        </mat-form-field>

        <mat-form-field class="example-full-width row">
          <input matInput  class="form-control" id="password" name="password" placeholder="Parola"  required>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions align="center">
        <button mat-button class="btn-block btnSize" >  Login
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
